table {
    width: 100%;
    border-collapse: collapse;
}

th {
    background-color: rgb(173, 255, 228);
}

tbody {
    background-color: rgb(127, 178, 255);
}

td, th {
    text-align: center;
    border: 1px solid grey;
    padding: 3px;
}

input {
    max-width: 50px;
    text-align: center;
}

.total {
    text-align: left;
    font-weight: bold;
    padding: 3px;
}

.hidden-cell {
    visibility: hidden;
}