.App {
  text-align: center;
}

.strike {
  text-decoration: line-through;
}

.complete span{
  text-decoration: line-through;
}

span{
  min-width: 20rem;
}

li {
  display: flex;
  justify-content: center;
  align-items: center;
}