@import '~antd/dist/antd.css';

.icon{
    display: inline-flex;
    justify-content: center;
    flex-direction: row;
    background-color: #fff;
    cursor: pointer;
    padding: 10px;
    margin-left: 20px;
}
.icon:last-child{
    padding: 0;
}